src/main/webapp/WEB-INF/shema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="question">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="phrasing" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>